<div class="page-container d-flex bg-light w-100">
  <div class="card p-4 shadow-sm m-auto text-center custom-card-width">
    <div class="pb-2" [innerHTML]="welcomeImage | async | safeHtml"></div>
    <div class="card-body">
      <h5 class="card-title mb-2">Welcome!</h5>
      <p class="card-text mb-1">Upload JSON files in a quick and efficient way.</p>
      <p class="text-primary mb-3 d-block small">
        @if ((filesFacade.totalFiles$ | async) === 0) {
          <div>No files uploaded yet.</div>
        } @else {
          <div>{{ filesFacade.totalFiles$ | async }} file{{ (filesFacade.totalFiles$ | async) === 1 ? '' : 's' }} uploaded already</div>
        }
      </p>
      <button class="btn btn-primary upload-file-btn" (click)="openUploadDialog()">Upload file</button>
    </div>
  </div>
</div>
