.modal-header .btn-close {
  font-size: 0.7rem !important;
  padding: 0.25rem 0.7rem;
}

.routing-component {
  flex: 1;
  display: flex;
  justify-content: center;
}

.page-container {
  width: 100%;
}